body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    background-color: #bfaf9b;
    height: 100vh;
    padding-top: 30px;
}
.bg-screen{
    background-color: tan;
    border: 1px solid #ccc;
}
.select-player{
    background-color: tan;
    cursor: pointer;
}
.score-title{
    color: #000;
}
h1{
    text-align: center;
    padding: 20px;
}
.text-result{
    font-weight: 700;
}
.timer{
    font-size: 40px;
}
.hand{
    -webkit-animation: showHand 1s infinite; 
    animation: showHand 1s infinite;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
ul{
    list-style: none;
}
.player-two, .player-one{
    width: 80px;
    margin: 0 auto;
    background-color: tan;
    border: 1px solid #ccc;
}
.bg-game{
    margin-top: 30px;
}
.game-container{
    margin-top: 30px;
    border: 1px solid #ccc;
    background-color: tan;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-group-item{
    border: 1px solid transparent;
    /* border-radius: 50%; */
    background-color: tan;
}
.list-group-item:first-child, .list-group-item:last-child{
    border: 1px solid transparent;
    /* border-radius: 50%; */
    background-color: transparent;
}
.list-group-item:last-child:focus{
    background-color: transparent;
}
.list-group-item:focus, .list-group-item:hover{
    background-color: transparent;
}
.first-player, .second-player{
    width: 78px;
    height: 78px;
    background-size: 78px 78px;
    background-position: center;
    color: transparent;
    border: 1px solid transparent;
    /* border-radius: 50%; */
    opacity: 0.8;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


 .second-player.fadeIn{
    -webkit-animation: fadeIn 1s none; 
    animation: fadeIn 1s none;
}
.first-player.fadeIn{
    -webkit-animation: fadeIn 1s none; 
    animation: fadeIn 1s none;
}
.scissor {
    background-image: url( '../images/scissor.png' );
}
.rock {
    background-image: url( '../images/rock.png' );
}
.paper {
    background-image: url( '../images/paper.png' );
}
.spock {
    background-image: url( '../images/spock.png' );
}
.lizard {
    background-image: url( '../images/lizard.png' );
}
.score{
    padding: 0;
}
.select{
    background-image: url( '../images/select.png' );
}
.score li{
    display: inline-block;
    margin: 0 2px;
}
.modal-result{
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    transition: all 0.5s ease-in-out;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #564242;
    border-radius: 5px;
    position: absolute;
    width: 300px;
    height: 200px;
    top: 280px;
    left: 0;
    right: 0;
    margin: auto;
}
.close{
    position: absolute;
    top: 10px;
    right: 15px;
}
.modal-result.hide{
    opacity: 0;

}
.btn{
    margin: 0 auto;
    display: block;
    margin-top: 30px;
}
img{
    transition: all 0.6s cubic-bezier(0.48, 0.21, 0.48, 1.63);
}
img.anime{
    height: 20px;
    width: 20px;
}
@keyframes fadeIn {
    0%   {
        opacity: 0;
        transform: scale(0.5);
    }
    40%   {
        opacity: 0.4;
        transform: scale(1);
    }
    60%   {
        opacity: 0.6;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes showHand {
    0%   {
        opacity: 0;
        /* transform: scale(0.5); */
    }
    100% {
        opacity: 1;
        /* transform: scale(1); */
    }
}
.btn-success{
    display: none;
}